* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: row;
    font-family: 'Montserrat', sans-serif;
    background-color: #E6F4F1;
}

.side-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20vw;
    min-width: 300px;
    max-width: 350px; 
    background-color: #0E67B4;  
    height: 100vh; 
}

.library-logo {
    width: 20vw;
    max-width: 300px;
    padding-top: 1em;
    padding-bottom: 1em;
}

form {
    display: flex;
    flex-direction: column;
    gap: 0.8em;
}

.form-group {
    display: flex;
    flex-direction: column;
    justify-items: center;
    gap: 0.2em;
}

.input-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5em;
}

.input-textbox, .input-dropdown {
    font-size: 1.1em;
    padding: 0.2em;
    border-radius: 10px;
    background-color: #E1F1FF;
    outline: none;
    border: 5px solid #5F9AEC;
    font-family: 'Montserrat';
    width: 96%;
}

.input-textbox:focus, .input-dropdown:focus {
    background-color: white;
}

.input-icon {
    width: 30px;
}

.error-message {
    color: white;
    font-size: 0.9em;
}

select{
  color:#757575;
}

option:not(first-child) {
  color: #000;
}

.submit-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    font-family: 'Montserrat';
    color: white;
    cursor: pointer;
    background-color: #001647;
    padding: 0.5em;
    border: 3px solid black;
    border-radius: 10px;
    transition: 0.2s transform ease-in;
    font-weight: bold;
}

.submit-button:hover {
    transform: scale(1.05);
    border-color: white;
}

.loader {
    display: none;
    margin-top: 1em;
    height: 40px;
    transform-origin: bottom center;
    animation: rotate 1.5s linear infinite;
    transition: 1.5s opacity ease-out;
}

.circle {
    display: inline-block;
    background-color: #00DBDA;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    transform: scale(0);
    animation: grow 1.5s linear infinite;
    margin: -5px;
}

.circle:nth-child(2) {
    background-color: #7AFAC4;
    animation-delay: 0.5s;
}

 .main-content {
    display: flex;
    flex-direction: column; 
    width: 100%;

}

.content-table {
    border-collapse: collapse;
    font-size: 1.1em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    margin: auto 3vw;
}

.content-table thead tr {
    background-color: #003E77;
    color: white;
    text-align: left;
}

.content-table th, .content-table td {
    padding: 12px 18px;
}

.content-table tbody tr{
    border-bottom: 1px solid #dddddd;
}

.content-table tbody tr:nth-of-type(odd) {
    background-color: #ffffff;
}

.content-table tbody tr:nth-of-type(even) {
    background-color: #F3FAFF;
}

.content-table tbody tr:last-of-type {
    border-bottom: 2px solid #003E77;
}

.reading-progress-div {
    margin: 0;
    padding: 0; 
    cursor: pointer; 
    font-weight: bold;
}

@keyframes rotate {
    to {
        transform: rotate(360deg);
    }
}

@keyframes grow {
    50% {
        transform: scale(1);
    }
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }
  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}