* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: row;
    font-family: 'Montserrat', sans-serif;
    background-color: #E6F4F1;
    overflow: hidden;
}

/* Modal Styles */
.modal-container {
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease-in-out;
}

.modal {
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
    background-color: white;
    padding: 50px 50px;
    border-radius: 15px;
    border: 15px solid #003E77;
    max-width: 100%;
    z-index: 2;
}

.modal-title {
    font-size: 1.5em;
    font-weight: bold;
}

.modal-description {
    font-size: 1.3em;
}

.modal-button-group {
    display: flex;
    gap: 2em;
}

.modal-button {
    padding: 15px 45px;
    border: none;
    border-radius: 5px;
    box-shadow:0 0 10px rgba(0, 0, 0, 0.15);
    font-size: 1.1em;
    font-family: 'Montserrat';
    color: white;
    cursor: pointer;
}

.yes {
    background-color: #00A552;
}

.no {
    background-color: #CF0501;
}

.modal-container.show {
    opacity: 1;
    pointer-events: auto;
}

/* Toast Styles */
.toast {
    position: absolute;
    top: 15px;
    right: 35px;
    border-radius: 12px;
    background-color: white;
    padding: 20px 35px 20px 25px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);  
    overflow: hidden;
    transform: translateX(calc(100% + 35px));
    transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.35);
    z-index: 1; /* Prevent "Reset Library" button from overlapping the toast message */
}

#success-toast {
    border-left: 6px solid #4CA355;
}

#warning-toast {
    border-left: 6px solid #FF9700;
}

#error-toast {
    border-left: 6px solid #E14D45;
}

.toast.toast-active{
    transform: translateX(0%);
}

.toast .toast-content{
    display: flex;
    align-items: center;
}

.toast-content .check {
    display: flex;
    align-items: center;
    justify-content: center;;
    height: 35px;
    width: 35px; 
    color: white;
    font-size: 20px;
    border-radius: 50%;
}

#success-toast .toast-content .check{
    background-color: #4CA355;
}

#warning-toast .toast-content .check{
    background-color: #FF9700;
}

#error-toast .toast-content .check{
    background-color: #E14D45;
}

.toast-content .message {
    display: flex;
    flex-direction: column;
    margin: 0 20px;
}

.message .text{
    font-size: 1.05em;
    font-weight: 400;
    color: #666666;
}

/* stylelint-disable */
.message .text.text-1{
    font-weight: 600;
    color: #333;
}

.toast .close{
    position: absolute;
    top: 10px;
    right: 15px;
    padding: 5px;
    cursor: pointer;
    opacity: 0.7;
}

.toast .close:hover{
    opacity: 1;
}

.toast .progress{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 3px;
    width: 100%;
    background: #ddd;
}

.toast .progress:before{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
}

#success-toast .progress:before{
    background-color: #4CA355;
}

#warning-toast .progress:before{
    background-color: #FF9700;
}

#error-toast .progress:before{
    background-color: #E14D45;
}

.progress.toast-active:before{
    animation: progress 2s linear forwards;
}

@keyframes progress {
    100%{
        right: 100%;
    }
}

/* Body Styles */
.side-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20vw;
    min-width: 300px;
    max-width: 350px; 
    background-color: #0E67B4;  
    height: 100vh; 
}

.library-logo {
    width: 20vw;
    max-width: 300px;
    padding-top: 1em;
    padding-bottom: 1em;
}

form {
    display: flex;
    flex-direction: column;
    gap: 0.8em;
}

.form-group {
    display: flex;
    flex-direction: column;
    justify-items: center;
    gap: 0.2em;
}

.input-group {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5em;
}

.input-textbox, .input-dropdown {
    font-size: 1.1em;
    padding: 0.2em;
    border-radius: 10px;
    background-color: #E1F1FF;
    outline: none;
    border: 5px solid #5F9AEC;
    font-family: 'Montserrat';
    width: 96%;
}

.input-textbox:focus, .input-dropdown:focus {
    background-color: white;
}

.input-icon {
    width: 30px;
}

.error-message {
    color: white;
    font-size: 0.9em;
}

select{
  color:#757575;
}

option:not(first-child) {
  color: #000;
}

.submit-button, .stat-delete-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.5em;
    font-family: 'Montserrat';
    color: white;
    cursor: pointer;
    background-color: #001647;
    padding: 0.5em;
    border: 3px solid black;
    border-radius: 10px;
    transition: 0.2s transform ease-in;
    font-weight: bold;
}

.submit-button:hover {
    transform: scale(1.05);
    border-color: white;
}

.loader {
    display: none;
    margin-top: 1em;
    height: 40px;
    transform-origin: bottom center;
    animation: rotate 1.5s linear infinite;
    transition: 1.5s opacity ease-out;
}

.circle {
    display: inline-block;
    background-color: #00DBDA;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    transform: scale(0);
    animation: grow 1.5s linear infinite;
    margin: -5px;
}

.circle:nth-child(2) {
    background-color: #7AFAC4;
    animation-delay: 0.5s;
}

/* Main Content */

.main-content {
    display: flex;
    flex-direction: column; 
    width: 100%;
    margin: 0 3vw;

}

.library-stats {
    display: flex;
    margin: 3vh 0;
    justify-content: space-evenly;
    align-items: center;
}

.stat {
    display: flex;
    font-size: 1.2em;
    gap: 0.5em;
}

.stat-delete-button{
    background-color: #CC0000;
    border: none;
    padding: 0.8em;   
}

.stat-delete-button:hover{
    transform: scale(1.05);
}


.content-table {
    border-collapse: collapse;
    font-size: 1.1em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);

}

.content-table thead tr {
    background-color: #003E77;
    color: white;
    text-align: left;
}

.content-table th, .content-table td {
    padding: 12px 18px;
}

.content-table td {
    padding: 20px 18px;
}

.content-table tbody tr{
    border-bottom: 1px solid #dddddd;
    padding-top: 15px;
}

.content-table tbody tr:nth-of-type(odd) {
    background-color: #ffffff;
}

.content-table tbody tr:nth-of-type(even) {
    background-color: #F3FAFF;
}

.content-table tbody tr:last-of-type {
    border-bottom: 2px solid #003E77;
}

.reading-progress-div {
    margin: 0;
    padding: 0; 
    cursor: pointer; 
    font-weight: bold;
}

.delete-btn {
    display: flex;
    gap: 5px;
    text-decoration: underline;
    cursor: pointer;
}

@keyframes rotate {
    to {
        transform: rotate(360deg);
    }
}

@keyframes grow {
    50% {
        transform: scale(1);
    }
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }
  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}